In [7]:
#q1 crete an set
set1={"a","b","c"}
set1

{'a', 'b', 'c'}

In [9]:
#q2 add an element to set
set1={"a","b","c"}
set1.add("$")
set1.add("100")
set1.add("a")
set1.add("apple")
set1.add("@")
set1.add("bat")
set1.add("1000")
set1.add("1")
set1

{'$', '1', '100', '1000', '@', 'a', 'apple', 'b', 'bat', 'c'}

In [10]:
#q3 adding multiple items using update function
set1={"a","b","c"}
set1.update(["$",1,100,1000,"a","apple1","b","bat","c","@"])
set1

{'$', 1, 100, 1000, '@', 'a', 'apple1', 'b', 'bat', 'c'}

In [13]:
#q4 find length of set
set1={"a","b","c"}
x=len(set1)
print(x)

3

In [14]:
#q5 remove a value from set
set1={"a","b","c"}
set1.remove("a")
set1

{'b', 'c'}

In [15]:
#q6 pop an element from set
set1={"a","b","c"}
y=set1.pop()
print(y)

a

In [16]:
y=set1.pop()
print(y)

b

In [17]:
#q7 clear a set
set1={"a","b","c"}
set1.clear()
set1

set()

In [19]:
#q8 delete a set
set1={"a","b","c"}
del set1
set1

NameError: name 'set1' is not defined

In [20]:
#q9 union of set
set1={"a","b","c"}
set2={"1","2","3")
set3=set1.union(set2)
set3

{'1', '2', '3', 'a', 'b', 'c'}

In [21]:
#q10 intersection of set
set1={"a","b","c"}
set2={"a","b","c"}
set3=set1.union(set2)
set3

{'a', 'b', 'c'}

In [22]:
#q11 subset of set
set1={"a","b","c"}
set2={"a","b","c","1","2","3"}
set1.issubset(set2)

True

In [24]:
#q11 subset of set
set2={"a","b","c"}
set1={"a","b","c","1","2","3"}
set1.issuperset(set2)

True

In [27]:
#q12subset of set
set1={"a","b","c","d"}
set2={"a","b","c","1","2","3"}
set2.difference(set1)

{'1', '2', '3'}

In [28]:
#Q13 SYMETRIC
#q11 symmetric of set
set1={"a","b","c"}
set2={"a","b","c","1","2","3"}
set1.symmetric_difference(set2)

{'1', '2', '3'}

In [30]:
#q11 subset of set
set1={"a","b","c"}
set2={"a","b","c","1","2","3"}
set1.update(set2)
set1

{'1', '2', '3', 'a', 'b', 'c'}